
<div>
    <form action="/{{userID}}?_method=DELETE" method="POST">
        <button type="submit" class="button is-small is-danger is-rounded">Delete This User </button>
    </form>
    <a href="/"><button class="button is-small is-link is-rounded">Back</button></a>
    <a href="/{{userID}}/board/new"><button class="button is-small is-link is-rounded">New Board</button></a>

    {{#each boards}}

    <div>
        <div>
            <a href="/{{../userID}}/board/{{_id}}">
                <h3 class="button is-outlined is-link is-large">{{name}}</h3>
            </a>

            {{#each tasks}}
            <p>{{name}}</p>
            {{/each}}
        </div>
    </div>
    {{/each}}
</div>