<p>BOARDDDDD SHOW PAGE</p>
{{userID }}"USER ID"
{{!-- {{board.name}} --}}
{{!-- {{board.tasks}} --}}
{{board._id}}"Board_id"
{{boardID}}
{{board.name}}
<a href="/{{userID}}/board/"><button>Back to Boards</button> </a>
<a href="/{{userID}}/board/{{board._id}}/edit"><button>Edit Board</button></a>
{{!-- <button>Edit Board</button> --}}
{{!-- ?_method=PATCH" --}}
{{!-- <a href="/{{newsLinkId}}/comments/{{comment._id}}/edit"><button class="btn">Edit Comment</button></a> --}}
<form action="/{{userID}}/board/{{board._id}}?_method=DELETE" method="POST">
    <button type="submit">Delete This Board</button>
</form>