<p>BOARDDDDD SHOW PAGE</p>


<a href="/{{userID}}/board/"><button>Back to Boards</button> </a>
<a href="/{{userID}}/board/{{board._id}}/edit"><button>Edit Board</button></a>

<a href="/{{userID}}/board/{{board._id}}/new"><button>Create a New Task</button></a>

{{#each tasks}}
</br>
{{name}}:
</br>
<p id="demo">{{details}}</p>

<form action="/{{../userID}}/board/{{../board._id}}/{{_id}}?_method=DELETE" method="POST">
    <button type="submit">Delete &#x21e7</button> 
</form><button onclick="myFunction()">Done &#x21e7</button>

{{!-- <script>
function myFunction(){document.getElementById("demo").color = "Red";}
</script> --}}
{{/each}}

<form action="/{{userID}}/board/{{board._id}}?_method=DELETE" method="POST">
    <button type="submit">Delete This Board</button>
</form>



